<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-margin" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="button-spacing" [routerLink]="['/basicAccounts']">Basic Acc</button>
    <button mat-menu-item class="button-spacing" [routerLink]="['/basicAccounts']">Debet card</button>
    <button mat-menu-item class="button-spacing" [routerLink]="['/basicAccounts']">Credit card</button>
  </mat-menu>
  <span>Internet Banking</span>
</mat-toolbar>

<router-outlet></router-outlet>